/* define the color pallette */
@define-color primary-color  #D7BCB3;
@define-color secondary-color #7B7372;
@define-color tertiary-color #E9CCC3;
@define-color fourth-color #9E5F50;
@define-color fifth-color #3b3130;

@define-color text-color #E9CCC3;
@define-color second-text-color #352C2B;




* {
    border: none;
    border-radius: 0px;
    /* font-family: VictorMono, Iosevka Nerd Font, Noto Sans CJK; */
    /* font-family: Iosevka, FontAwesome, Noto Sans Noto Sans CJK; */
    font-family: Jetbraints font-style, FontAwesome, Noto Sans Noto Sans CJK;
    font-size: 14px;
    font-style: normal;
    min-height: 0;
}

window#waybar {
  border: none;
	border-radius: 16px;
    background: rgba(41, 38, 38, 1); 
    color: @text-color;
}

#workspaces {
	background: @fifth-color;
	margin: 6px 5px 6px 5px;
    padding: 0px 5px 0px 5px;
	border-radius: 16px;
    font-weight: normal;
    font-style: normal;

}

#workspaces button {
    padding: 0px 5px;
    border-radius: 16px;
    color: @secondary-color;
}

#workspaces button.active {
    color: @primary-color;
    background-color: transparent;
    border-radius: 16px;
}

#workspaces button:hover {
	background-color: #E6B9C6;
	color: black;
	border-radius: 16px;
}

#custom-date, #clock, #bluetooth, #pulseaudio, #network, #custom-randwall, #custom-launcher, #temperature {
	background: transparent;
	padding: 5px 5px 5px 5px;
	margin: 7px 5px 7px 5px;
    border-radius: 8px;
}
    
#custom-date {
	color: #D3869B;
}

#tray {
    background: @fifth-color;
    margin: 6px 5px 6px 5px;
    border-radius: 16px;
    padding: 0px 5px;
}

#clock {
    color: @second-text-color;
    background-color: @tertiary-color;
    border-radius: 0px 16px 16px 24px;
    padding-left: 13px;
    padding-right: 15px;
    margin-right: 0px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    /*border-left: solid 1px #282738;*/
}

#network {
    color: @text-color;
    border-radius: 8px;
    margin-right: 5px;
}

#pulseaudio {
    color: @text-color;
    border-radius: 8px;
    margin-left: 0px;
}

#keyboard-state {
    color: @text-color;
    border-radius: 8px;
    margin-left: 0px;
}

#pulseaudio.muted {
    background: transparent;
    color: #928374;
    border-radius: 8px;
    margin-left: 0px;
}

#custom-launcher {
    color: @primary-color;
    background-color: @fifth-color;
    border-radius: 16px 24px 0px 16px;
    margin: 0px 0px 0px 0px;
    padding: 0 20px 0 13px;
    /*border-right: solid 1px #282738;*/
    font-size: 20px;

}

#custom-launcher button:hover {
    background-color: #FB4934;
    color: transparent;
    border-radius: 8px;
    margin-right: -5px;
    margin-left: 10px;
}

#custom-playerctl {
	background: @fifth-color;
	padding-left: 15px;
  padding-right: 14px;
	border-radius: 16px;
  /*border-left: solid 1px #282738;*/
  /*border-right: solid 1px #282738;*/
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 0px;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
}

#custom-playerlabel {
    background: transparent;
    padding-left: 10px;
    padding-right: 15px;
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: @fifth-color;
    font-weight: normal;
    font-style: normal;
}

#window {
    background: #282828;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-style: normal;
}

/* default background rectangle for each modules */

#cpu, #memory, #bluetooth, #disk, #network, #pulseaudio, #temperature, #keyboard-state {
    background-color: @fifth-color;
    /*color: #FABD2D;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
}

#memory {
    /*color: #83A598;*/
}

#bluetooth {
    /*color: #83A598;*/
}


#disk {
    /*color: #8EC07C;*/
}

#custom-hyprpicker {
    background-color: #282828;
    /*color: #8EC07C;*/
    border-radius: 16px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px 11px 0px 9px;
    font-weight: bold;
}
